<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Walle</title>
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>


    <link href="/css/homepage.css" rel="stylesheet">
</head>
<body>
<div class="form-groupStr" stype="width:100%">
<div class="container"></div>
    <tabel clsss="control-lable font-weight-bold">

    </tabel>
    <table id="__01" width="1920" height="1170" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="/img/home/home_01.gif" width="725" height="389" alt=""></td>
            <td><a href="/candidate/logon">
                <img src="/img/home/home_02.gif" width="501" height="389" alt=""></a></td>
            <td>
                <img src="/img/home/home_03.gif" width="694" height="389" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="/img/home/home_04.gif" width="725" height="422" alt=""></td>
            <td>
                <img src="/img/home/home_05.gif" width="501" height="422" alt=""></td>
            <td>
                <img src="/img/home/home_06.gif" width="694" height="422" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="/img/home/home_07.gif" width="725" height="359" alt=""></td>
            <td><a href="/hiringmgr/logon">
                <img src="/img/home/home_08.gif" width="501" height="359" alt=""></a></td>
            <td>
                <img src="/img/home/home_09.gif" width="694" height="359" alt=""></td>
        </tr>
    </table>

</div>

</body>
</html>