<!--<!DOCTYPE html>-->
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Walle</title>
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>



    <link href="/css/homepage.css" rel="stylesheet">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table id="__01" width="1920" height="1171" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="6">
                <img src="/img/candidate/login/login_01.gif" width="1920" height="474" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="/img/candidate/login/login_02.gif" width="566" height="60" alt=""></td>
            <td colspan="2">
                <img src="/img/candidate/login/login_03.gif" width="789" height="60" alt=""></td>
            <td colspan="2">
                <img src="/img/candidate/login/login_04.gif" width="565" height="60" alt=""></td>
        </tr>
        <tr>
            <td colspan="6">
                <img src="/img/candidate/login/login_05.gif" width="1920" height="47" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="/img/candidate/login/login_06.gif" width="566" height="58" alt=""></td>
            <td colspan="2">
                <img src="/img/candidate/login/login_07.gif" width="789" height="58" alt=""></td>
            <td colspan="2">
                <img src="/img/candidate/login/login_08.gif" width="565" height="58" alt=""></td>
        </tr>
        <tr>
            <td colspan="6">
                <img src="/img/candidate/login/login_09.gif" width="1920" height="18" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="/img/candidate/login/login_10.gif" width="553" height="115" alt=""></td>
            <td colspan="2">
                <img src="/img/candidate/login/login_11.gif" width="407" height="115" alt=""></td>
            <td colspan="2">
                <img id="loginBtn" src="/img/candidate/login/login_12.gif" width="413" height="115" alt="" οnclick="minus()" ></td>
            <td>
                <img src="/img/candidate/login/login_13.gif" width="547" height="115" alt=""></td>
        </tr>
        <tr>
            <td colspan="6">
                <img src="/img/candidate/login/login_14.gif" width="1920" height="398" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="/img/candidate/login/splite.gif" width="553" height="1" alt=""></td>
            <td>
                <img src="/img/candidate/login/splite.gif" width="13" height="1" alt=""></td>
            <td>
                <img src="/img/candidate/login/splite.gif" width="394" height="1" alt=""></td>
            <td>
                <img src="/img/candidate/login/splite.gif" width="395" height="1" alt=""></td>
            <td>
                <img src="/img/candidate/login/splite.gif" width="18" height="1" alt=""></td>
            <td>
                <img src="/img/candidate/login/splite.gif" width="547" height="1" alt=""></td>
        </tr>
    </table>

</body>
</html>
<script type="text/javascript">
    $('#loginBtn').onclick() {
        alert("Hello");
    };

    function minus() {
        alert("message")
    }
</script>
